body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p,
h3,
ul,
li {
  margin: 0 0 0 20px;
  padding: 10px;
}
.product {
  border: 5px solid #fbfcfc;
  border-radius: 10px;
  background-color: #fbfcfc;
}
/*Product Information*/
.product-price {
  font-size: 24px;
}
.shiping {
  font-size: 12px;
  text-transform: uppercase;
  color: #e74c3c;
  font-weight: 800;
}
.product .product-title {
  margin: -5px;
  padding: 10px 0 10px 0;
  text-align: center;
  font-size: 22px;
  text-transform: uppercase;
  background-color: #bfc9ca;
}

.product img {
  margin: 20px;
  height: 400px;
  width: 400px;
  border: 15px solid #bfc9ca;
  border-radius: 5px;
}

.more-info,
.more-info:visited {
  color: white;
  text-decoration: none;
  background-color: #21618c;
  padding: 5px;
  border: 1px solid #21618c;
  border-radius: 5px;
}

.more-info:hover,
.more-info:active {
  color: white;
  text-decoration: none;
  background-color: #2e86c1;
  padding: 5px;
  border: 1px solid #2e86c1;
  border-radius: 5px;
}

/*Product Details*/
.details-title {
  padding-top: 15px;
  text-transform: uppercase;
  font-size: 16px;
}
.details-list {
  list-style: square;
}

/* Button */

.add-cart {
  font-size: 16px;
  background-color: #78281f;
  color: white;
  border: 1px solid #78281f #e74c3c;
  border-radius: 5px;
  padding: 10px;
  margin: 0 0 0 20px;
  margin-bottom: 20px;
  cursor: pointer;
  text-transform: uppercase;
}

.add-cart:hover {
  background-color: #e74c3c;
  color: white;
  border: 1px solid #e74c3c;
  border-radius: 5px;
  cursor: default;
  cursor: pointer;
}
